<!doctype html>
<html lang="en">

<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="/css-boot/bootstrap.min.css" media="screen,projection" />

  <link rel="stylesheet" href="/views/Homepage.css">

</head>

<body style=" background-color: #cefff5;">
  <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bagpack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li>
        <a href="/users/login" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Login</a>
      </li>
      <!--
        <li>
      
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Resgiter
          </button>
  
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Register here!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>bksjhfisjkd</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </li>

      -->
    </div>
  </nav>

  <div class="container">
    <div class="row" style="margin-top: 10px;">

      <div class="col-md-8 text-center img-center " style="background-color: #dee5e3;">
        <div class="thumbnail" id="postOfTheWeek">
          <h1>Post of the Week</h1>
          <ul>
            <div class="col-md-4 text-left img-left">
              <img src="images/sp1.png" style="width:30px; height:30px; border-radius: 50%;">
              <a href="#">Rashika Karki</a>
            </div>
          </ul>
          <img src="images/p1.jpg" class="postOfTheWeekImage" alt="postOfTheWeek" style="width: 100%; height:460px;">
          <div class="caption">
            <p class="postOfTheWeekDesc">Shivapuri</p>
          </div>
          <div>
            <p>
              Trek through Shivapuri National Park during this full-day eco-adventure from Kathmandu. Visit the
              Budhanilkantha Temple on the way to the park, a protected forest that is home to more than five hundred
              native species of plants and animals. With your local guide in the lead, climb a combination of gentle
              stone steps and walking trail to the peak of Shivapuri at 8,963 feet (2,732 meters) in elevation. Enjoy
              lunch while admiring views of the Langtang Mountain Range.
            </p>
          </div>
        </div>
        <!-- 
        <button class="button button4" onclick="myFunction()" id="myBtn">Read more</button>
       -->
      </div>
      <div class="col-md-1 ">
      </div>
      <div class="col-md-3" style=" background-color: #dee5e3;" style="margin-top: 10px;">
        <h2 class="text-center" style=" margin-top: 6px;">
          <p>Top Travellers</p>
        </h2>

        <div id="leaderboards">
          <div class="well">
            <div class="row">
              <div class="col-md-6" style="margin-top: 10px;">
                <img src="images/sp1.png" style="width:100px; height:100px; border-radius: 50%;">
              </div>
              <div class="col-md-2">
                <p>
                  <h4><a href="#" style="color:black"> Rashika Karki</a></h4>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" style="margin-top: 10px;">
                <img src="images/sp2.jpg" style="width:100px; height:100px; border-radius: 50%;">
              </div>
              <div class="col-md-2">
                <p>
                  <h4><a href="#" style="color:black"> Abhishek Pathak</a></h4>
                </p>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>


  <br>
  <br>
  <hr style="color:darkslategrey;">


  <div class="container">

    <div class="row ">
      <div class="col-md-2 "></div>
      <div class="col-md-8 text-center">
        <h3>
          Explore more of Nepal...
        </h3>
      </div>
      <div class="col-md-2 "></div>
    </div>
  </div>

<!--@TODO: GENERATE DYNAMIC CONTENT FROM DATABASE-->
  <div class="container">
    <div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-8 text-center img-center " style="background-color: #dee5e3;">
        <div class="thumbnail">
          <ul>
            <div class=" text-left img-left" style=" margin-top:10px;">
              <img src="images/sp2.jpg" style="width:30px; height:30px; border-radius: 50%;">
              <a href="#">Abhishek Pathak</a>
            </div>
          </ul>
          <img src="images/p2.jpg" class="postOfTheWeekImage" alt="postOfTheWeek" style="width: 100%; height:460px;">
          <div class="caption">
            <p class="postOfTheWeekDesc">Palpa</p>
          </div>
          <div>
            <p>
              It took about 3 hours to hike down to Rani Mahal, and 4 hours to hike up to Tansen. One can throughly
              enjoyed meeting the locals, seeing the small family farms, terraced farms, streams, waterfalls, narrow
              gorges, and finally, Rani Mahal, Kali Gandaki
              River, and a suspension bridge over it at the destination.
            </p>
          </div>
        </div>
        <!-- 
              <button class="button button4" onclick="myFunction()" id="myBtn">Read more</button>
            -->
      </div>
      <div class="col-md-1 "></div>
    </div>
  </div>

  <br>
  <br>
  <hr style="color:darkslategrey;">


  <footer style="margin-left: 0px; background-color: #2B2B2B; width:100%;">
    <div class="container">
      <div class="row">
        <p class="col-sm-4" style=" margin-top: 8px; color:white;">&copy; Bagpack</p>
        <ul class="col-sm-8 ">

        </ul>
      </div>
    </div>
  </footer>


  <script type="text/javascript" src="/js-boot/bootstrap.min.js"></script>


</body>

</html>