<html>
    <head>
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import booststrap.css-->
      <link type="text/css" rel="stylesheet" href="/css-boot/bootstrap.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/index.css"/>

      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login Page</title>
    </head>
    <body>
        <!--Ashish's Message: Working on Registration-->
        <div>
            <a class="register-button" href="/register">Register</a>
            <div id="register-container">

            </div>
        </div>
        
         <!--End Asjish's part-->
         
        <!-- Neha's Message: Working on Gmail Login -->
        <div>

        </div>
        <!--End Neha's part-->

        <!--Rashika's Message: Workingin on Login Page-->
        <div>
            <a href="/login">Login</a>


        </div>


        <script src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js-boot/bootstrap.min.js"></script>
       <script>
           $(document).ready(function(){
               $('.register-button').on('click',function(){
                    $('#register-container').load("/register");
               });
              
           });
       </script>
    </body>
</html>