<html>

<head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css-boot/bootstrap.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/register.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

</head>

<body>
    <div class="background">
        <img src="/images/travel.jpg" alt="Travel" />

    </div>
    <div class="main">
        <div class="middle">

            <div class="form-body row shadow-lg">


                <form class="col" action="/users/login" method="POST">
                    <% if (success_msg) { %>

                        <p >
                            <%= success_msg %>
                        </p>
        
                        <% } %>
                        <% if (error_msg) { %>
        
                        <p >
                            <%= error_msg %>
                        </p>
        
                        <% } %>
                    <h1>Login Here!</h1>


                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email" name="email" id="email"
                            class="validate">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>


                    <button type="submit" class="btn btn-info">Login</button>
                    <br>
                    <br>
                    <div>
                        <h6>New Here?<a href="/users/register"> Register here!</a></h6>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js-boot/bootstrap.min.js"></script>
    </script>
    <script>
        $(document).ready(function () {
            var container = $('.middle');
            var options = {
                format: 'yyyy-mm-dd',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>

</body>

</html>