<html>
    <head>
        <title>Register</title>
        <link type="text/css" rel="stylesheet" href="/css-mat/materialize.min.css"  media="screen,projection"/>   
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link type="text/css"  rel="stylesheet" href="css/register.css"/>
  
    </head>
    <body>
        <div class="background">
            <img src="images/nightsky.jpg" alt="Travelling"/>

        </div>
        <div class="main">   
            <div class="form-body">

                <form class="col s10" action="/registered" method="POST">
                    <h1 class="left-align">Register Here!</h1>
                    <div class="row">
                        <div class="input-field col s4 ">
                            <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate">
                        </div>
                        <div class="input-field col s4 ">
                            <input placeholder="Last Name" name="lastName" id="lastName" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="Email" name="email" id="email" type="email" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="Password" name="password"  id="password" type="password" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="Date of Birth"name="birth" id="birth" type="text" class="datepicker">
                            
                        </div>
                    </div>

                    <div class="row">
                        <p>
                            <label>
                                <input class="with-gap" name="gender" type="radio" id="male" value="male" checked />
                                <span>Male</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="gender" type="radio" id="female" value="female" />
                                <span>Female</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="gender" type="radio" id="others" value="others" />
                                <span>Others</span>
                            </label>
                        </p>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit  </button>
                    </div> 
                </form>
    
            </div>  
        </div>
                
                
      
     
        <script src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js-mat/materialize.min.js"></script>
        </script>
        <script>
         $(document).ready(function(){
                
                $('.datepicker').datepicker();
            });</script>
            
    </body>
</html>