<html>
  <head>
    <title>Signin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="google-signin-client_id" content="255055354865-0mqfu21fd5a0vl46q1m396l83gnmeu9b.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  </head>
  <body>
    
    <div class="g-signin2" data-onsuccess="onSignIn" > </div>

    <a href="#" onclick="signOut();">signOut</a>
  </body>
</html>