body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
      border: 0;
      padding: 0;
      margin: 0;
  }
  .jumbotron {
    display: flex;
    align-items: center;
    background-color:lightgrey; 
    background-size: cover;
    color: black;
    height: 300px;
    width:100%;
    text-shadow: 0.25px 0.25px 0.25px ;
  }
