html, body {
    margin: 0; height: 100%; overflow: auto
}

.main{
    width: 1000px;
    margin:auto;
   
} 

.form-body{
    border: solid;
    background-color: darkgray;
    margin: 5% auto;
    height: auto;
    overflow: hidden;
}

h1{
    text-align: left;
    margin-bottom: 5%;
}

::placeholder{
    color: darkblue;
}

label span{
    color: darkblue;
}

form{
    margin: 5%;
}

.row{
    margin-bottom: 0;
}

.row button{
    margin-bottom: 5%;
}


